<%= link_to 'View All Pets', "/pets" %><br>
<%= link_to 'View All Shelters', "/shelters" %><br>

<%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>

  <%= label_tag :name %><span>:</span><br>
  <%= text_field_tag :name, "#{@shelter.name}"%><br>

  <%= label_tag :address %><span>:</span><br>
  <%= text_field_tag :address, "#{@shelter.address}"%><br>

  <%= label_tag :city %><span>:</span><br>
  <%= text_field_tag :city, "#{@shelter.city}"%><br>

  <%= label_tag :state %><span>:</span><br>
  <%= text_field_tag :state, "#{@shelter.state}"%><br>

  <%= label_tag :zip %><span>:</span><br>
  <%= text_field_tag :zip, "#{@shelter.zip}"%><br>

  <%= submit_tag "Update" %>
<% end %>
