<%= form_tag "/shelters", method: :post do %>
  <%= label_tag :name %><span>:</span><br>
  <%= text_field_tag :name, nil, placeholder: 'ASPCA'%><br>

  <%= label_tag :address %><span>:</span><br>
  <%= text_field_tag :address, nil, placeholder: '424 E 92nd St'%><br>

  <%= label_tag :city %><span>:</span><br>
  <%= text_field_tag :city, nil, placeholder: 'New York City'%><br>

  <%= label_tag :state %><span>:</span><br>
  <%= text_field_tag :state, nil, placeholder: 'NY'%><br>

  <%= label_tag :zip %><span>:</span><br>
  <%= text_field_tag :zip, nil, placeholder: '10128'%><br>

  <%= submit_tag "Create Shelter" %>
<% end %>
