<a href='/shelters'>All Shelters</a>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>

<a href='/shelters/<%= @shelter.id %>/edit'>Edit</a><br><br>

<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
