<%= link_to 'View All Pets', "/pets" %><br>
<%= link_to 'View All Shelters', "/shelters" %><br>
<%= link_to 'View This Shelters Pets', "/shelters/#{@shelter.id}/pets" %><br>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>

<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<br/>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
