<%= link_to 'View All Pets', "/pets" %><br>
<%= link_to 'View All Shelters', "/shelters" %><br>

<h1>New Pet</h1>

<%= form_tag "/shelters/#{params[:shelter_id]}/pets", method: :post do %>
  <%= label_tag :image, "Image URL" %><span>:</span><br>
  <%= text_field_tag :image, nil, placeholder: 'google.com/image_name.jpg'%><br>

  <%= label_tag :name %><span>:</span><br>
  <%= text_field_tag :name, nil, placeholder: 'Rover'%><br>

  <%= label_tag :description, "Description (About Me)" %><span>:</span><br>
  <%= text_field_tag :description, nil, placeholder: "I'm Rover, I'm a yellow lab who loves belly rubs."%><br>

  <%= label_tag :approximate_age, "Approximate Age" %><span>:</span><br>
  <%= text_field_tag :approximate_age, nil, placeholder: '2 y/o'%><br>

  <%= label_tag :sex %><span>:</span><br>
  <%= select_tag :sex, options_for_select(["Male", "Female"])%><br>

  <%= submit_tag "Create Pet" %>
<% end %>
