<h1>All Pets<h1>
<%= link_to 'View All Shelters', "/shelters" %><br>

<% @pets.each do |pet| %>
  <img src="<%= pet.image %>" alt="Pictured: <%= pet.name %>">
  <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <p>Approximate Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Currently at: <a href="/shelters/<%= pet.shelter.id %>"><%= pet.shelter.name %></a></p>
  <br/>
  <br/>
  <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %><br>
  <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>
<% end %>
